<div class="user-details">
  <h1>About me</h1>
  <p><img src="images/perso_NB.jpg" alt="Benjamin Beringue N&B" height="275" style="float:left;margin-right:30px;"> </p>

  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="/research">Research</a></h2>
    <p>A summary of the research projects I've been working on so far.</p>
  </div>
  <div class="tech">
    <h2><a href="/publications">Publications</a></h2>
    <p>List of publications I have been involved in.</p>
  </div>
  <div class="tech">
    <h2><a href="/academic_cv">CV</a></h2>
    <p>My academic CV.</p>
  </div>

</div>
