<div class="user-details">
  <h1>About me</h1>
  <p><img src="images/perso_velo.jpg" alt="Benjamin Beringue vélo" height="300" style="float:left;margin-right:30px;"> </p>

  <p> Hello ! I am cosmologist, working at <a href = 'https://apc.u-paris.fr/APC_CS/'> APC (AstroParticule et Cosmologie)</a> with Professor Josquin Errard. Before that, I was a postdoctoral research associate at Cardiff Univerity, with Professor Erminia Calabrese. I am observing the Cosmic Microwave Background (CMB), the left-over radiation from the Big-Bang, to better understand the origin and content of our Universe. I am a member of the <a href = 'https://act.princeton.edu/'> ACT </a>,  <a href = 'https://simonsobservatory.org'> Simons Observatory (SO)</a> and <a href = 'http://www.ccatobservatory.org'>CCAT-prime</a> collaborations. </p>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="/research">Research</a></h2>
<!--    <p>A summary of the research projects I've been working on so far.</p>-->
  </div>
  <div class="tech">
    <h2><a href="/publications">Publications</a></h2>
<!--    <p>List of publications I have been involved in.</p>-->
  </div>
  <div class="tech">
    <h2><a href="/academic_cv">CV</a></h2>
<!--    <p>My academic CV.</p>-->
  </div>

</div>
