<!-- <style>
  * {
      border: 1px solid black;
      box-sizing: border-box;
  } -->
</style>
<div id="research">
  <h1>Research</h1>
    <br>
  <!-- <div class="project">
      <h3><a href = 'https://arxiv.org/abs/2008.11688'>Rayleigh scattering of the CMB.</a></h3>
      In the early Universe, the photons were kept in thermal equilibrium with the primordial plasma through thomson scattering off free electrons.
      As the Universe exands and cools down, the free electrons end up recombining with the protons, allowinf the photons to decouple and free stream. However, recombination also yields neutral species, mainly Hydrogen and Helium by which CMB photons can also be scattered : this is <i>Rayleigh scattering</i>.
      In a series of three publications, we have studied the cosmological information contained in this small, frequency-dependent correction of the primary CMB as well as its detectability with the next generation of CMB surveys.

  </div> -->
    <div class="project">
      <div class="text"><h3><a href = 'https://arxiv.org/abs/2008.11688'>Rayleigh scattering of the CMB.</a></h3>
      Rayleigh scattering is the extra scattering of CMB photons by neutral species formed during recombination. 
      Thanks to this effect, the last scattering surface becomes frequency-dependent. 
      In a series of three publications, we have studied the cosmological implications of this effect as well as its detectability with the next generation of CMB surveys.
      </div>
      <div class="image"><img src="images/RS_angles.png", alt="Image"></div>
  </div>

    <br>
  <div class="project_right">
    <div class="image"><img src="images/sps4lat_ilc_map.png", alt="Image"></div>
    <div class="text">
      <h3><a href = 'https://github.com/simonsobs/sps4lat'>Component separation for the Simons Observatory : sps4lat.</a></h3>
      Component separation refers to the complex problem of disentangling signals of interest in a noisy mixture. 
      <b>sps4lat</b> is a proposed component separation method for Simons Observatory.
    </div>
  </div>
</div>

