<div id="research">
  <h1>Research</h1>
    <br>
  <div class="project">
      <h3><a href = 'https://arxiv.org/abs/2008.11688'>Rayleigh scattering of the CMB.</a></h3>
      The Cosmic Microwave Background (CMB) was emitted around redshift 1100 after recombination between free electrons and protons in the primordial plasma took place. Until then, CMB photons were tightly coupled to the plasma thanks to <i>Thomson scattering</i> off free electrons.
      As free electrons start to recombine with protons, this scattering process becomes less and less efficient. However, recombination also yields neutral species, mainly Hydrogen and Helium by which CMB photons can also be scattered : this is <i>Rayleigh scattering</i>.

  </div>
    <br>
  <div class="project">
      <h3><a href = 'https://github.com/simonsobs/sps4lat'>Component separation for the Simons Observatory : sps4lat.</a></h3>
      Component separation refers to the complex problem of disentangling signals of interest in a noisy mixture. Observations of the CMB are spoiled by emissions with various astrophysical origins in the same frequency bands. Examples for such emissions include : dust and synchrotron radiations from our galaxy,
      extragalactic emissions arising from the large background of radio and infrared galaxies and clusters, etc ... Our ability to constrain cosmological parameters directly depends on how efficiently these <i>foregrounds</i> can be removed. With <b>sps4lat</b> we are implementing a flexible component separation method
      tailored to the specificities of ground-based observatories.
</div>

