<div id="research">
  <h1>Research</h1>
    <br>
  <div class="project">
      <h3><a href="/rs">Rayleigh scattering of the CMB.</a> </h3>
      <p>Rayleigh scattering refers to the scattering of CMB photons by neutral species formed during recombination. </p>
      <p>Thanks to its correlation with the primary CMB, the Rayleigh scattering signal will help tightening constraints</p>
      <p>on LCDM parameters and its extensions.</p>
  </div>
    <br>
  <div class="project">
      <h3><a href="sps4lat">sps4lat.</a></h3>
      <p>component separation </p>
  </div>
</div>

